.home {
    padding: 50px;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    color: white;
    font-size: 14px;
    width: 100%;
    padding: max(1vh, 0.5rem)1.5rem;
}

#table td,
#table th {
    border: 1px solid #fffdfd;
    padding: 8px;
    align-items: center;
    text-align: center;
}

td.delete {
    color: red;
}

td.view {
    color: green;
}


/* #masini tr:nth-child(even) {
    background-color: #883a3a;
} */

#table tr {
    background-color: rgb(90, 166, 209);
    text-align: center;
    align-items: center;
}

#table tr.tr_hover:hover {
    background-color: #f8ffa6;
    color: black;
    height: 50px;
    font-size: 18px;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(187, 184, 184, 0.971);
    color: white;
}

.button_view {
    color: rgb(0, 0, 0);
    background-color: green;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    padding: auto;
    cursor: pointer;
}

.button_delete {
    color: black;
    background-color: red;
    border: 0px;
    border-radius: 5px;
    width: 100px;
    padding: auto;
    cursor: pointer;
}

.button_delete:hover {
    padding: 5px;
}

.button_view:hover {
    padding: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 2vw
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2vh;
}