<div class="home">
    <div class="container">


        <div class="form">
            <div class="row">

                <label for="fname">Search</label>


                <input type="text" name="Search" placeholder="Search" onkeydown="return /[a-zA-Z]/i.test(event.key)" maxlength="100" required>

            </div>
            <div class="row">

                <label for="lname">Search Word</label>


                <input type="button" value="Search">

            </div>
        </div>




        <table id="table">

            <tr>
                <th>Word</th>
                <th>Datetime</th>
                <th colspan="2">Actions</th>

            </tr>

            <tr>
                <td>
                </td>
                <td>
                </td>
                <td class="view"> <input class="button_view" type="button" value="View">
                </td>
                <td class="delete"> <input class="button_delete" type="button" value="Delete">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td class="view"> <input class="button_view" type="button" value="View">
                </td>
                <td class="delete"> <input class="button_delete" type="button" value="Delete">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td class="view"> <input class="button_view" type="button" value="View">
                </td>
                <td class="delete"> <input class="button_delete" type="button" value="Delete">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td class="view"> <input class="button_view" type="button" value="View">
                </td>
                <td class="delete"> <input class="button_delete" type="button" value="Delete">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td class="view"> <input class="button_view" type="button" value="View">
                </td>
                <td class="delete"> <input class="button_delete" type="button" value="Delete">
                </td>
            </tr>







        </table>
    </div>
</div>