<div class='header'>
    <div class="flex-row">


        <img src="logo.png" height="100px" width="100px" alt="png">

        <div class="nav-link">
            <a routerLink='home'>
                <h3>Home</h3>
            </a>
            <div class="vl"></div>
            <a routerLink='about'>
                <h3>About</h3>
            </a>
            <div class="vl"></div>
            <a routerLink="contact">
                <h3>Contact</h3>
            </a>

        </div>
    </div>



</div>